body {
  padding-top: 70px;
  padding-bottom: 50;
  background-color: #F7F7F7; 
}

.clear {
    clear: both;
}
#logo {
    position: absolute;
    left: 350px;
    top: -65px;
    img {
        height: 200px;
    }
}

#nav {
    position: relative;
    border: 1px solid gray;
    margin: 0px 0px 10px 0px;
    
    #menu {
        margin: 0px;
        list-style-type: none;
        font-size: 13px;
        height: 40px;;
        li {
            float: left;
            &.right { float: right; }
            margin: 0;
            a {
                text-decoration: none;
                display: block;
                padding: 0 20px;
                line-height: 40px;
            }
        }

        &.red { 
            background: #b80808; 
            a { color: #fff; }
            li a:hover { 
                color: #F27F84; 
                background: #990000;
            }
        }

        &.white { 
            height: 30px;
            background: #fff; 
            a { 
                color: black; 
                line-height: 30px;
            }
            li a:hover { 
                color: black; 
                background: gray;
            }
        }
    }
}

#cover {
    margin-bottom: 10px;
}

#main {
    border: 1px solid gray;
    width: 938px;
    #left {
        padding: 10px 0px 0px 10px;
        display: block;
        width: 229px;
        float: left;
    }
    #right {
        padding: 10px;
        display: block;
        float: left;
        width: 639px;
        .item {
            img { 
                margin: 0px 10px 10px 0px;
                float: left;
            }
            clear: both;
        }
    }
}

#bottom {
    ul {
        margin: 0px;
        list-style-type: none;
        li {
            text-decoration: none;
            float: left;
            .box {
                margin: 5px;
                width: 300;
                height: 200px;
                border: 1px solid gray;
            }
        }
    }
/*    ul.media-grid {
      display: table;
      margin: 0 auto;
      li {
        float: left;
        padding: 4px;
        margin: 5px 5px;
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
      }
      h6 {
        text-align: center;
      }
    }*/
}