body {
  padding-top: 70px;
  padding-bottom: 50;
  background-color: #F7F7F7; 
}

.clear {
    clear: both;
}
#logo {
    position: absolute;
    left: 370px;
    top: -65px;
    img {
        width: 200px;
    }
}

#nav {
    position: relative;
    border: 1px solid gray;
    margin: 0px 0px 10px 0px;
    
    #menu {
        margin: 0px;
        list-style-type: none;
        font-size: 13px;
        height: 40px;;
        li {
            float: left;
            &.right { float: right; }
            margin: 0;
            a {
                text-decoration: none;
                display: block;
                padding: 0 20px;
                line-height: 40px;
            }
        }

        &.red { 
            background: #b80808; 
            a { color: #fff; }
            li a:hover { 
                color: #F27F84; 
                background: #990000;
            }
        }

        &.white { 
            height: 30px;
            background: #fff; 
            a { 
                color: black; 
                line-height: 30px;
            }
            li a:hover { 
                color: black; 
                background: gray;
            }
        }
    }
}

#cover {
    margin-bottom: 10px;
}
#pages-header {
  margin-bottom: 10px;
  width: 940px;
  height: 200px;
}

#header {
    margin-bottom: 10px;
    width: 940px;
    height: 200px;
    img {
        margin-right: 20px;
        float: right;
    }
    #sidebar {
        padding: 30px 30px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        color: white;
        background-color: #6E0D25;
        width: auto;
        display: block;
        border: 1px solid gray;
        text-align: center;
        float: left;
    }
}

#main {
    background-color: white;
    border: 1px solid gray;
    width: 878px;
    padding: 30px;
    display: block;
    float: left;
    .item {
        img { 
            margin: 0px 10px 10px 0px;
            float: left;
        }
        clear: both;
    }
}

#bottom {
    ul {
        margin: 0px;
        list-style-type: none;
        li {
            text-decoration: none;
            float: left;
            .box {
                margin: 5px;
                width: 135;
                height: 100px;
                padding: 20px;
                text-align: center;
                line-height: 30px;
                border: 1px solid gray;
                font-size: 10px;
                font-weight: bold;
            }
        }
    }
}

#footer {
    clear: both;
    padding-top: 30px;
    text-align: center;
    font-size: 11px;
    line-height: 10px;
}

.red {
  color: #c40000
}