<div id="pages-content" class="span8">
  <h1><span class="red">About Us</span></h1>

  <p>Began in 2008, Consistent Frozen Solutions Corp. is a premier supplier of frozen beef, pork, chicken, lamb, and seafood products in Manila, Philippines. Our 450 sq m meat processing facility located in Tondo, Manila exercises strict quality control in a sanitary environment ensuring our products are up to industry standards. </p>

  <p>We are partnered with a vast network of suppliers that ensures the consistent quality and stock of our different meats. Our focus is on giving our valued clients service that is above and beyond what is typically required of a meat processing company: free product samples for prospective buyers, stress-free ordering procedure (phone or SMS), accepts small or large orders, provides next day delivery service, processing according to your specifications, easy payment options, consistent supply, consistent quality meats.  </p>

  <p>We are dedicated to delivering high quality meat products to our clients from the food and beverage industry: from restaurants and caterers, to cafeterias and commissaries. We guarantee that buying from Consistent Frozen Solutions means no more stressful purchasing, no problems, and no headaches.</p>

  <p>Some of our satisfied clients: Chic-boy, Manang's Chicken, The Old Spaghetti House, Casa Verde, Kitaro, YakiMIX, The French Baker, Saisaki, Sambo Kojin</p>
</div>