<div id="pages-content" class="offset2 span8">
  <h1>Contact</h1>

  <p>Our processing facility and main office is open Monday to Saturday, 9.00am - 5.00pm. You can contact us for inquiries and orders through the following details:</p>

  <p>Landline: (02) 253-3720</p>
  <p>Mobile Number: (+63) 917-8388919, (+63) 917-5506363</p>
  <p>E-mail: hershey_ang@yahoo.com, johndale.quimpo@gmail.com</p>
  <p>Facebook: www.facebook.com/consistentfrozensoln</p>

  <p>Note: For faster transactions, kindly indicate your name, the name of your establishment, the area where it is located, the products you are interested in ordering, the quantity of that item per week your business demands, and your honest target price. </p>
</div>