<div id="cover">
  <div id="cover-img">
    <img src="img/cover.png" style="width: 939px; height: 399px; border: 1px solid gray;" />
    <div id="gradient">
      <h4>Premier Supplier of</h4>
      <h3>FROZEN BEEF, PORK, CHICKEN, LAMB, and SEAFOOD PRODUCTS</h3>
    </div>
  </div>
</div>
<div id="bottom">
  <h2><span style="color: #c40000;">Why Consistent Frozen Solutions is the best:</span></h2>
  <br />
  <ul class="media-grid">
    <li>
      <div class="box">
        <p>FREE PRODUCT SAMPLES</p>
        <img src="/img/samples.png" />
      </div>
    </li>
    <li>
      <div class="box">
        <p>STRESS-FREE ORDERING</p>
        <img src="/img/stressfreeordering.png" />
      </div>
    </li>
    <li>
      <div class="box">
        <p>NEXT DAY<br />DELIVERY</p>
        <img src="/img/nextdaydelivery.png" />
      </div>
    </li>
    <li>
      <div class="box">
        <p>EASY PAYMENT OPTIONS</p>
        <img src="/img/easypaymentoptions.png" />
      </div>
    </li>
    <li>
      <div class="box">
        <p>CONSISTENT QUALITY</p>
        <img src="/img/consistentquality.png" />
      </div>
    </li>
    <li>
      <div class="box">
        <p>CONSISTENT SERVICE</p>
        <img src="/img/consistentservice.png" />
      </div>
    </li>
  </ul>
</div>