<div id="cover">
  <div id="cover-img">
    <img src="img/cover.png" style="width: 939px; height: 399px; border: 1px solid gray;" />
    <div id="gradient">
      <h4>Premier Supplier of</h4>
      <h3>FROZEN BEEF, PORK, CHICKEN, LAMB, and SEAFOOD PRODUCTS</h3>
    </div>
  </div>
</div>
<div id="bottom">
  <h2><span style="color: #c40000;">Why Consistent Frozen Solutions is the best:</span></h2>
  <br />
  <ul class="media-grid">
    <li>
      <div class="box">
        <p>FREE PRODUCT SAMPLES</p>
        <img src="/img/samples.png" />
        <p class="description">If you want to try out our different products first before ordering, just give us a call (02-2533720) and we'll gladly send you some sample meats for you to try. We're serious.</p>
      </div>
    </li>
    <li>
      <div class="box">
        <p>STRESS-FREE ORDERING</p>
        <img src="/img/stressfreeordering.png" />
        <p class="description">To ensure your utmost convenience, you can order by simply calling us on the phone or sending us an SMS. You will receive a confirmation of your order within minutes.</p>
      </div>
    </li>
    <li>
      <div class="box">
        <p>NEXT DAY<br />DELIVERY</p>
        <img src="/img/nextdaydelivery.png" />
        <p class="description">As soon as you confirm your order, our hardworking staff will go straight to work preparing your different meats to ensure that it reaches your door within 24 hours or less.</p>
      </div>
    </li>
    <li>
      <div class="box">
        <p>EASY PAYMENT OPTIONS</p>
        <img src="/img/easypaymentoptions.png" />
        <p class="description">Our friendly accounting staff will coordinate with you about your payables. Whether it's a large or small order, we can make an arrangement that will make you happy.</p>
      </div>
    </li>
    <li>
      <div class="box">
        <p>CONSISTENT SERVICE</p>
        <img src="/img/consistentservice.png" />
        <p class="description">Whether it's an order for a small catering job or a chain or restaurants, we can handle it. Bone in? Skin on? Just give us your specifications and we'll take care of the rest.</p>
      </div>
    </li>
    <li>
      <div class="box">
        <p>CONSISTENT QUALITY</p>
        <img src="/img/consistentquality.png" />
        <p class="description">Our partnership with a vast network of suppliers ensures the consistent quality and stock of our different meats. This way, our clients always get the best products, and  no excuses.</p>
      </div>
    </li>
  </ul>
</div>