<div id="cover"><img src="http://placehold.it/940x100"></div>
<div id="main">
  <div id="left">
    <h1>Call Us Now!</h1>
  </div>
  <h1><%= meat %></h1>
  <div id="right">
    <% for variant in variants %>
      <div class="item">
        <img src="<%= variant["img"] %>">
        <h3><%= variant["name"] %></h3>
        <p><%= variant["description"] %></p>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
</div>