<div id="pages-header">
  <img src="img/team.jpg">
</div>
<div id="pages-content" class="span8">
  <h1><span class="red">The Team</span></h1>

  <p>The team behind <strong>Consistent Frozen Solutions Corp.</strong> has created strong relationships with our suppliers ensuring that our clients only receive the best meats at the best prices.</p>
  <br />
  <h3><span class="red">Inventory/Logistic Coordinators</span></h3>
  <p>It's the responsibility of our team of coordinators to make sure our clients receive their merchandise at the right place and time, and with the correct order specifications. Place your orders with them and they will make sure to give you and your business peace of mind when purchasing meats.</p>

  <h4>&nbsp;&nbsp;&nbsp;&nbsp;Dale Quimpo</h4>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Mobile number: (+63) 917-5506363<br />
    &nbsp;&nbsp;&nbsp;&nbsp;E-mail address: johndale.quimpo@gmail.com
  </p>

  <h4>&nbsp;&nbsp;&nbsp;&nbsp;Hershey Ang </h4>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;Mobile number: (+63) 917-8388919<br />
    &nbsp;&nbsp;&nbsp;&nbsp;E-mail address: hershey_ang@yahoo.com
  </p>

  <p>The team: Jane Castillon, Judy Perez , Jovi Silva</p>
  <br />
  <h3><span class="red">Accounting Department</span></h3>
  <p>Our friendly accounting team overseas transactions with our clients and makes sure everything is going well. They are in charge of contacting our client about their payables and other related transactions. </p>

  <p>The team: Jocelyn Co, Rachel Domingo</p>
</div>