<div id="pages-content" class="offset2 span8">
  <h1>The Team</h1>

  <p>The team behind Consistent Frozen Solutions Corp. has created strong relationships with our suppliers ensuring that our clients only receive the best meats at the best prices.</p>

  <h2>Inventory/Logistic Coordinators</h2>
  <p>It’s the responsibility of our team of coordinators to make sure our clients receive their merchandise at the right place and time, and with the correct order specifications. Place your orders with them and they will make sure to give you and your business peace of mind when purchasing meats.</p>

  <h3>Dale Quimpo</h3>
  <p>Mobile number: (+63) 917-5506363</p>
  <p>E-mail address: johndale.quimpo@gmail.com</p>

  <h3>Hershey Ang </h3>
  <p>Mobile number: (+63) 917-8388919</p>
  <p>E-mail address: hershey_ang@yahoo.com</p>

  <p>The team: Jane Castillon, Judy Perez , Jovi Silva</p>

  <h2>Accounting Department</h2>
  <p>Our friendly accounting team overseas transactions with our clients and makes sure everything going well. They are in charge of contacting our client about their payables and other related transactions. </p>

  <p>The team: Jocelyn Co, Rachel Domingo</p>
</div>