body {
  padding-top: 70px;
  padding-bottom: 50;
  background-color: #F7F7F7; }

.clear {
  clear: both; }

#logo {
  position: absolute;
  left: 370px;
  top: -65px;
  z-index: 1; }
  #logo img {
    width: 200px; }

#nav {
  position: relative;
  border: 1px solid gray;
  margin: 0px 0px 10px 0px; }
  #nav #menu {
    position: relative;
    margin: 0px;
    list-style-type: none;
    font-size: 13px;
    height: 40px; }
    #nav #menu li {
      float: left;
      margin: 0; }
      #nav #menu li.right {
        float: right; }
      #nav #menu li a {
        text-decoration: none;
        display: block;
        padding: 0 20px;
        line-height: 40px; }
    #nav #menu.red {
      background: #b80808; }
      #nav #menu.red a {
        color: #fff; }
      #nav #menu.red li a:hover {
        color: #F27F84;
        background: #990000; }
    #nav #menu.white {
      height: 30px;
      background: #fff; }
      #nav #menu.white a {
        color: black;
        line-height: 30px; }
      #nav #menu.white li a:hover {
        color: black;
        background: gray; }

#cover {
  position: relative;
  margin-bottom: 10px; }

#cover-img {
  position: relative; }

#gradient {
  position: absolute;
  top: 300px;
  color: white;
  padding: 10px 10px 10px 20px;
  background: rgba(196, 0, 0, 0.7);
  /* 
  background: -moz-linear-gradient(left,  rgba(196,0,0,0.9) 0%, rgba(196,0,0,0.9) 28%, rgba(196,0,0,0.44) 64%, rgba(5,0,0,0) 99%, rgba(0,0,0,0) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(196,0,0,0.9)), color-stop(28%,rgba(196,0,0,0.9)), color-stop(64%,rgba(196,0,0,0.44)), color-stop(99%,rgba(5,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,  rgba(196,0,0,0.9) 0%,rgba(196,0,0,0.9) 28%,rgba(196,0,0,0.44) 64%,rgba(5,0,0,0) 99%,rgba(0,0,0,0) 100%); 
  background: -o-linear-gradient(left,  rgba(196,0,0,0.9) 0%,rgba(196,0,0,0.9) 28%,rgba(196,0,0,0.44) 64%,rgba(5,0,0,0) 99%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,  rgba(196,0,0,0.9) 0%,rgba(196,0,0,0.9) 28%,rgba(196,0,0,0.44) 64%,rgba(5,0,0,0) 99%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right,  rgba(196,0,0,0.9) 0%,rgba(196,0,0,0.9) 28%,rgba(196,0,0,0.44) 64%,rgba(5,0,0,0) 99%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6c40000', endColorstr='#00000000',GradientType=1 );
  */ }

#pages-header {
  margin-bottom: 10px;
  width: 940px;
  height: 200px; }

#header {
  margin-bottom: 10px;
  width: 940px;
  height: 200px; }
  #header img {
    margin-right: 20px;
    float: right; }
  #header #sidebar {
    padding: 30px 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: white;
    background-color: #6E0D25;
    width: auto;
    display: block;
    border: 1px solid gray;
    text-align: center;
    float: left; }

#main {
  background-color: white;
  border: 1px solid gray;
  width: 878px;
  padding: 30px;
  display: block;
  float: left; }
  #main .item {
    clear: both; }
    #main .item img {
      margin: 0px 10px 10px 0px;
      float: left; }

#bottom ul {
  margin: 0px;
  list-style-type: none; }
  #bottom ul li {
    text-decoration: none;
    float: left; }
    #bottom ul li .box {
      margin: 5px;
      width: 243;
      padding: 0px 30px 40px 30px;
      text-align: center;
      line-height: 30px;
      font-weight: bold; }
      #bottom ul li .box img {
        width: 100px; }
      #bottom ul li .box h1 {
        font-size: 13px; }
      #bottom ul li .box p {
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 0px; }
        #bottom ul li .box p.description {
          text-align: left;
          font-weight: normal; }

#footer {
  clear: both;
  padding-top: 30px;
  text-align: center;
  font-size: 11px;
  line-height: 10px; }

.red {
  color: #c40000; }
